<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Insertar un nuevo registro</h1>
        
        <div>
            <form th:action="@{/nuevo}" th:object="${datos_persona}" method="POST"
                  enctype="multipart/form-data">

                <label for="txtnombre">Nombres: </label>
                <input id="txtnombre" type="text" name="nombres" th:field="*{nombres}">
                <br>
                <br>
                <label for="txtapellidos">Apellidos: </label>
                <input id="txtapellidos" type="text" name="apellidos" th:field="*{apellidos}">
                <br>
                <br>
                <label for="txtdni">Dni: </label>
                <input id="txtdni" type="text" name="dni" th:field="*{dni}">
                <br>
                <br>
                <label for="txtdireccion">Direccion: </label>
                <input id="txtdireccion" type="text" name="direccion" th:field="*{direccion}">
                <br>
                <br>
                <label for="txtemail">Email: </label>
                <input id="txtemail" type="text" name="email" th:field="*{email}">
                <br>
                <br>
                <label for="txttelefono">Telefono: </label>
                <input id="txttelefono" type="text" name="telefono" th:field="*{telefono}">
                <br>
                <br>
                <label for="imagenInput">Imagen: </label>
                <input id="imagenInput" 
                       type="file" name="imagen" th:field="*{imagen}" 
                       accept=".jpg, .jpeg, .png, .gif">
                <!-- PREVISUALIZAR LA IMAGEN -->
                <br>
                <br>
                <div>
                    <span class="mensajehastasubirimagen" id="ErrorPrevisualizarImagen">Suba una imagen para previsualizarla antes de subirlo</span>
                </div>
                <img id="imagenPrevia" style="display: none;" width="250px">
                <br>
                <br>
                <button type="input" id="boton">Añadir</button>
                <br>
                <br>
                <a type="button" id="atras" th:href="@{/}">Atras</a>
            </form>
        </div>
        <script>
            const imagenInput = document.getElementById('imagenInput');
            const imagenPrevia = document.getElementById('imagenPrevia');
            const errorPrevisualizarImagen = document.getElementById('ErrorPrevisualizarImagen');

            // Función para previsualizar la imagen
            function previsualizarImagen(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        imagenPrevia.src = e.target.result;
                        imagenPrevia.style.display = 'block';
                        errorPrevisualizarImagen.style.display = 'none';
                    };

                    reader.readAsDataURL(file);
                } else {
                    imagenPrevia.style.display = 'none';
                    errorPrevisualizarImagen.style.display = 'block';
                }
            }
            // Agregar el evento al campo de imagen
            imagenInput.addEventListener('change', previsualizarImagen);
        </script>
    </body>
</html>
